@using wwdt_ui.Data
@inject EntryService EntryService

<div>

    <p>@Id</p>

    <p>@entry.Who</p>

    <p>@entry.When</p>

    <p>@entry.What</p>

    <p>@entry.Ip</p>

    <button @onclick="SubmitForm" class="btn btn-primary">Submit</button>
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public string Id { get; set; }

    async Task SubmitForm() => await BlazoredModal.CloseAsync();
    async Task Cancel() => await BlazoredModal.CancelAsync();

    private Entry entry;

    protected override async void OnParametersSet()
    {
        entry = await EntryService.GetEntryByIdAsync(Id);
    }

}
