@page "/entryview"

@using wwdt_ui.Data
@inject EntryService EntryService
@using Microsoft.AspNetCore.WebUtilities;
@using Microsoft.Extensions.Primitives;
@inject NavigationManager navManager


<EditForm Model="@entry" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>@entry.Id</div>

    <div>@entry.Who</div>

    <div><InputText id="what" @bind-Value="entry.What" /></div>

    <div><InputDate id="when" @bind-Value="entry.When" /> </div>

    <div>@entry.When</div>

    <button type="submit">Submit</button>
</EditForm>



@code {

    private Entry entry;

    protected override async Task OnInitializedAsync()
    {
        StringValues Id;
        var uri = navManager.ToAbsoluteUri(navManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("Id", out Id))
        {
            entry = await EntryService.GetEntryByIdAsync(Id);
        }

    }

    private void HandleValidSubmit()
    {
        Task<bool> result = EntryService.UpdateEntryAsync(entry);
        if(result.Result)
        {
            navManager.NavigateTo("/entrylist");
        }
    }
}
